#post_content
  %h1= @post.title
  %p= @post.content
  %p
    Published
    = time_ago_in_words(@post.created_at)
    by
    = @post.user.email

  #comments
    %h2= @post.comments.count
    = render @post.comments

    %h3 Reply to Post
    = render "comments/form"
  - if current_user == @post.user
    = link_to "Edit", edit_post_path(@post)
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
