#post_content
  %h1= @post.title
  %p= @post.content
  %p
    Published
    = time_ago_in_words(@post.created_at)
    by
    = @post.user.email

  #comments
    %h2
      = @post.comments.count
      - if @post.comments.count > 1
        Comments
      - else
        Comment
    = render @post.comments

    %h3 Reply to Post
    = render "comments/form"

  %br/
  %hr/
  %br/
  
  - if current_user == @post.user
    = link_to "Edit", edit_post_path(@post), class: "button"
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button"
